<div class="container">
  <h2 class="title">Examen Final</h2>
  <mat-card class="card">
    <mat-card-content class="card-content">
      <p><strong>Nombre:</strong> Emilio José Capristan Gálvez</p>
      <p><strong>Código:</strong> U202317378</p>
      <div class="image-container">
        <img src="/assets/capristan.png" alt="Foto" width="150" height="150" />
      </div>
      <p><strong>Sección:</strong> 3181</p>
    </mat-card-content>
  </mat-card>
  <p class="footer">UPC - © 2024</p>
</div>
